*{
    box-sizing: border-box;
}

html{
    background-image: url(belmont.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-width:100%;
}

.nav{
    display:flex;
    position:fixed;
    right:10px;
    bottom:10px;
}

h1, h2{
    text-align:center;
}

p{
    color:white;
    background-color: black;
    text-align:center;
    margin:60px;
}

.center{
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    margin-bottom:10px;
}
