*{
    box-sizing: border-box;
}

html{
    background-image: url(woodbridge.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:100%;
}

.nav{
    display:flex;
    position:fixed;
    right:10px;
    bottom:10px;
}

h1, h2{
    color:white;
    text-align:center;
}

.row{
    display:flex;
    flex-wrap:wrap;
    padding: 0 4px;
}

.column{
    flex:25%;
    max-width:25%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align:middle;
    width:100%;
}

@media screen and (max-width:800px) {
    .column{
        flex:50%;
        max-width: 50%;
    }
}

@media screen and (max-width:600px){
    .column{
        flex:100%;
        max-width:100%;
    }
}

