body {
    background: darkseagreen url('img/cat.jpeg') no-repeat center fixed;
    background-size: 300px;
    font-family: monospace;
}

p {
    color:red);
    background-color: chartreuse;
    padding: 50px;
}

.special {
    color: bisque;
    background: rgb(96, 94, 94);
    font-size: 150%;
    font-family: cursive;
    margin: 30px; 
}