*{
    box-sizing: border-box;
}

html{
    background-image: url(nova.png);
    background-size:auto 100%;
    background-position:center;
    background-repeat:no-repeat;
    min-height:100%;
}

.nav{
    display:flex;
    position:fixed;
    right:10px;
    bottom:10px;
}

h1{
    color:black;
    text-align:left;
    font-size:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color:black;
    text-align:left;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color:black;
    text-align:left;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.click1{
    display:flex;
    position:absolute;
    cursor:pointer;
    height:75px;
    width:75px;
    opacity:50%;
    left:675px;
    top:275px;
    background-color:brown;
}

.click2{
    display:flex;
    position:absolute;
    cursor:pointer;
    height: 75px;
    width:75px;
    opacity:50%;
    left:500px;
    top:80px;
    background-color:brown;
}

.click3{
    display:flex;
    position:absolute;
    cursor:pointer;
    height: 75px;
    width:75px;
    opacity:50%;
    right:700px;
    bottom:80px;
    background-color:brown;
}

