html{
    background-image:url(journalbg.JPG);
    background-size:cover;
    min-height:100vh;
    background-position:center;
}

p{
    color:white;
}

.book{
    color:lawngreen;
    background-color:black;
}

.test {
    color:red;
    background-color: darkgrey;
}

.sept{
    color:black;
    background-color: aquamarine;
}

.computer{
    color:tomato;
    background-color:indigo;
}

.afriend{
    color:cornsilk;
    background-color:darkgreen;
}

.scrabble{
    background-color:violet;
    color:royalblue;
}

.apple{
    background-color:darkred;
    color:gold;
}

body{
    text-align:center;
    margin:50px;
}