html{
    background-image:url(journalbg.JPG);
    background-size:cover;
    min-height:100vh;
    background-position:center;
}

.test {
    color:red;
    background-color: darkgrey;
}

.sept{
    color:black;
    background-color: aquamarine;
}

.computer{
    color:tomato;
    background-color:indigo;
}

.afriend{
    color:cornsilk;
    background-color:darkgreen;
}