html{
    background-image: url(field.jpeg);
    background-size:cover;
    min-height:100vh;
    background-position:center;
}


h1{
    text-align:center;
    color:black;
}

h2{
    text-align:center;
    color:black;
}

p{
    text-align:center;
    color:black;
}
