html{
    background-image: url(pond.jpeg);
    background-size:cover;
    min-height:100vh;
    background-position:center;
}

h1{
    text-align:center;
    color:white;
}

h2{
    text-align:center;
    color:white;
}

p{
    text-align:center;
    color:white;
}
