html{
    background-image: url(marsh2.jpeg);
    background-size:cover;
    min-height:100vh;
    background-position:center;
}

h1{
    text-align:center;
    color:white;
}

h2{
    text-align:center;
    color:white;
}

p{
    text-align:center;
    color:white;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
